
body {
  margin: 0;
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 667px;
}

* {
  box-sizing: border-box;
}

.logo {
  position: fixed;
  top: 21px;
  left: 25px;
}

  .text-content {
    width: 289px;
    position: absolute;
    margin-top: 90px;
    margin-left: 43px;
    margin-right: 43px;
  } 


.text-title {
  line-height: 35px;
  font-weight: 700px;
  line-break: anywhere;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  font-family: Gilroy-regular,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.line {
  border-bottom: 2px solid red;
  opacity: .1;
  margin-bottom:8px;
  margin-top: 12px;
}

.text-introduce {
  text-align: justify;
  font-size: 14px;
  color: rgba(255, 255, 255, .7);
  line-height: 24px;
  font-family: Gilroy-regular,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.button-3NOq5 {
  position: fixed;
  left: 31px;
  bottom: 58px;
  height: 128px;
  width: 311px;
  text-align: center;
}

.down {
  background: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  line-height: 50px;
  margin-bottom: 20px;
  font-size: 17px;
}

.live {
  color: #fff;
  background-color:rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  border-radius: 10px;
  line-height: 50px;
  font-size: 17px;
}

.icon {
  background-image: url('./down.png');
  width: 14px;
  height: 7px;
  background-position: center;
  background-size: contain;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 175px;
}
